<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838254014456-5nbl49bbkue5v6c6agp5emb9ajj902kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838254014456-5nbl49bbkue5v6c6agp5emb9ajj902kg</string>
	<key>API_KEY</key>
	<string>AIzaSyD-pBIt-citfVNWjdOqoR30TeE4Jq5ay6w</string>
	<key>GCM_SENDER_ID</key>
	<string>838254014456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasKlpMichaelNata</string>
	<key>PROJECT_ID</key>
	<string>nata-michael</string>
	<key>STORAGE_BUCKET</key>
	<string>nata-michael.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838254014456:ios:67b83c8b2d221da90a300d</string>
</dict>
</plist>